@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700i&display=swap');

@font-face {
  font-family: 'dmc_2019';
  src: url('dmc/DMC_2019.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**
 * pf_dindisplay_pro
 */

@font-face {
  font-family: 'pf_dindisplay_pro';
  src: url('pfdindisplaypro/pfdindisplaypro-bold.woff2') format('woff2'),
  url('pfdindisplaypro/pfdindisplaypro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'pf_dindisplay_pro';
  src: url('pfdindisplaypro/pfdindisplaypro-reg.woff2') format('woff2'),
  url('pfdindisplaypro/pfdindisplaypro-reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_dindisplay_pro';
  src: url('pfdindisplaypro/pfdindisplaypro-light.woff2') format('woff2'),
  url('pfdindisplaypro/pfdindisplaypro-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'pf_dindisplay_pro';
  src: url('pfdindisplaypro/pfdindisplaypro-thin.woff2') format('woff2'),
  url('pfdindisplaypro/pfdindisplaypro-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
